./data/
./scripts
./results
bacterial-amr-analysis-for-ont.md
bactopia_env_allPackages.yml
bactopia_env_selectPackages.yml

bacterial-amr-analysis-for-illumina.md
mpox-genome-analysis-illumina.md

data/
